body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
    background:
    repeating-linear-gradient( -45deg,#000, #333 1px,#000 1px);
}



hr {
    margin: 40px 40px 40px 40px;
    height: 1px;
    color: white;
    background-color: white;
}
h1
{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 70px;
    color:gold;
}

#weather
{
    border: 3px solid black;
    border-radius: 40px;
    padding: 50px;
    margin: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

#kotouce
{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 60px;
}

#vyhra
{
    color:gold;
    border: 2px solid gold;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input, button {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 12px;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

#pocet
{
    color: gold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#platba
{
    border: 3px solid black;
    border-radius: 40px;
    padding: 50px;
    margin: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

#pay
{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn2
{
    white-space: nowrap;
}